<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Мой сайт{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'news/css/styles.css' %}">  <!-- Подключение стилей -->
</head>
<body>
    <header>
        <h1>Мой веб-сайт</h1>
        <nav>
            <ul>
                {% block nav_links %}
                <li><a href="{% url 'news:news_list' %}">Главная страница</a></li>
                <!-- Другие ссылки -->
                 {% endblock %}
            </ul>
            <ul>
                <form method="get">
                    <input type="text" name="q" placeholder="Поиск постов..." required>
                    <button type="submit">Поиск</button>
                </form>
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>© {{ year }} Мой веб-сайт</p>
    </footer>
</body>
</html>